

#slide1{
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}

#slide2{
    font-size: 80px;
    color: #2000a1;
    text-shadow: 2px 2px 2px black;
}

#slide3{
    font-size: 80px;
    color: #006f11;
    text-shadow: 2px 2px 2px black;
}
